{% load friendly %}
<form name="{{ form_definition.name }}" action="{{ form_definition.action }}" method="{{ form_definition.method }}" enctype="multipart/form-data">
    <table>
        <tbody>
            {% for entry in logs %}
                {% for field in entry.data %}
                <tr>
                    <th>{{ field.label }}</th>
                    <td>{{ field.value|friendly }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            {% for field in form %}
                {% if not field.is_hidden %}
                <tr class="field {% if field.errors %}errors{% endif %}{% if field.field.required %}{% if field.errors %} {% endif %}required{% endif %}">
                    <th>
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    </th>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            <tr class="buttons">
                <td>&nbsp;</td>
                <th>{% include "html/formdefinition/forms/includes/submit.html" %}</th>
            <tr>
        </tbody>
    </table>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% csrf_token %}
</form>
