{% load friendly %}
<form name="{{ form_definition.name }}" action="{{ form_definition.action }}" method="{{ form_definition.method }}" enctype="multipart/form-data">
    <ul>
    {% for entry in logs %}
        {% for field in entry.data %}
        <li>
            <label for="">{{ field.label }}</label>
            {{ field.value|friendly }}
        </li>
        {% endfor %}
    {% endfor %}
    {% for field in form %}
        {% if not field.is_hidden %}
            <li class="field {% if field.errors %}errors{% endif %}{% if field.field.required %}{% if field.errors %} {% endif %}required{% endif %}">
                {{ field.errors }}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    <p class="button">
    {% include "html/formdefinition/forms/includes/submit.html" %}
    </p>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% csrf_token %}
</form>
