{% load i18n %}
{% if form_definition.title %}<h2>{{ form_definition.title }}</h2>{% endif %}
{% if message %}
<ul class="notifications">
  <li>{{ message }}</li>
</ul>
{% endif %}
<form name="{{ form_definition.name }}" action="{{ form_definition.action }}" method="{{ form_definition.method }}">

    {% for field in form %}
    {% if not field.is_hidden %}
    {{ field.errors }}
    <{% if field_tag %}{{ field_tag }}{% else %}p{% endif %}>
        <label for="{{ field.auto_id }}">
            {% if field.field.required %}
                <span class="required">{{ field.label }}</span>
            {% else %}
                {{ field.label }}
            {% endif %}
        </label>
        {{ field }}
    </{% if field_tag %}{{ field_tag }}{% else %}p{% endif %}>
    {% else %}
        {{ field }}
    {% endif %}
    {% endfor %}

<input type="submit" value="{% if form_definition.submit_label %}{{ form_definition.submit_label }}{% else %}{% trans "Submit" %}{% endif %}" />
</form>
